.carousel-item {
  height: 45%;
  width: 55%;
  margin-left: 25%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}
.carousel-text {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.253);
  color: white;
  background-color: rgba(2, 16, 29, 0.233);
}
.navbar-brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#insta{
  
}
.icons {
  margin-left: 50%;
  margin-top: 5px;
}
.fa {
  height: 2ex;
  width: 2em;
  color: grey;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 25px;
}
footer {
  background-color: #e3f2fd;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  overflow: hidden;
  padding: 15px;
}
.card-columns{
margin-top: 15px;
display: inline-block;

}
.favs-pics{
    height: auto;
    width: 45%;
    margin-left: 31%;
}
h2 {
  text-align: center;
  margin-bottom: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (min-width: 638px){
.homeP{
  margin-left: 15vw;
  margin-right: 15vw;
}
}
.homeP{
font-family: monospace;
font-size: large;
}
ul {
  display: table;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 2vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width:414px){
  ul{
   font-size: 4vw;
 }}
hr{
  border: none;
  height: 2px;
  margin-top: 35px;
  color: #333; 
  background-color: #333; 
}